<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>rdfapp FoaF demo</title>
    <script src='vendor/angular.js'></script>
    <script src='vendor/rdflib.js'></script>
    <script src='vendor/angulardf.js'></script>
    <script src='modules/rdfapp/main.js'></script>
    <script>
      var myapp = angular.module('foafdemo', ['rdfapp', 'angulardf']);
      myapp.controller('start', ['$scope', function($scope) {
        var self = this;
        this.uri = 'http://www.w3.org/People/EM/contact#me';
        this.go = function go(){
          $scope.rdfapp.go($rdf.sym(self.uri));
        };
      }]);
      /* something like this could go into an rdfutils module */
      myapp.directive('rdfLabel', [function() { return {
        'restrict': 'E',
        'scope': {
          'what': '&'
        },
        'template': '<abbr title="{{ toNT() }}">{{ label() }}</abbr>',
        'controller': ['$scope', function($scope) {
          $scope.toNT = function toNT() {
            var what = $scope.what();
            if (what) return what.toNT();
            else return ""
          };
          $scope.label = function label() {
            var what = $scope.what();
            if (!what) return "…";
            var rdflabel = $rdf.sym("http://www.w3.org/2000/01/rdf-schema#label");
            var candidates = $scope.$parent.ardf.objects(what, rdflabel);
            if (candidates.length) return candidates[0].value;
            var subpropertyof = $rdf.sym("http://www.w3.org/2000/01/rdf-schema#subPropertyOf");
            candidates = $scope.$parent.ardf.objects(what, $scope.$parent.ardf.subjects(subpropertyof, rdflabel));
            if (candidates.length) return candidates[0].value;
            return what.uri;
          };
        }]
      };}]);
    </script>
    <style>
        /* it seems that bootstrap does this for most other applications. */
        a[ng-click] { color: blue; text-decoration: underline; ; cursor: pointer; }
    </style>
  </head>
  <body
      ng-app="foafdemo"
      ng-strict-di
      angulardf
      angulardf-proxy-template="http://data.fm/proxy?uri={uri}"
      rdfapp
      ng-init="foaf = Namespace('http://xmlns.com/foaf/0.1/'); rdfs = Namespace('http://www.w3.org/2000/01/rdf-schema#')"
      angulardf-preload="http://xmlns.com/foaf/0.1/"
      x-untested-angulardf-preload-comment=" these would make fine additions to a more generalized 'knows', but the data.fm proxy currently can't resolve them "
      x-untested-angulardf-preload="http://purl.org/vocab/relationship/ http://purl.org/net/schemas/quaffing/"
    >
    <!-- the page itself is most certainly not a person, exclude it for now. preloading with interpolation is yucky (still looking for a way to provide both static and dynamic preloading) -->
    <div ng-repeat="(i, component) in rdfapp.completepath track by i" ng-if="i != 0 && i != rdfapp.completepath.length - 1" angulardf-preload="{{ component.uri }}">
      <p>This section is about <rdf-label what="component"></rdf-label>.</p>
      <p>To the next section, there are the following relationships: <span ng-repeat="rel in ardf.predicates(component, rdfapp.completepath[i + 1])"><rdf-label what="rel"></rdf-label></span></p>
    </div>
    <div angulardf-preload="{{ rdfapp.peek().uri }}" ng-if="rdfapp.completepath.length > 1">
      <p>This top-most section is about <rdf-label what="rdfapp.peek()"></rdf-label>. <a ng-click="rdfapp.pop()">Back up</a></p>
      <img ng-repeat="i in ardf.objects(rdfapp.peek(), [foaf('img'), foaf('depiction')])" ng-src="{{ i.uri }}" />
      <p>Other people known by this person: <a ng-repeat="o in ardf.objects(rdfapp.peek(), foaf('knows'))" ng-click="rdfapp.push(o)" angulardf-preload="{{ o.uri }}"><rdf-label what="o"></rdf-label> </a></p>
      <!-- this hack indicats that follow-your-nose support should be added somewhere in ardf -->
      <span ng-repeat="o in ardf.objects(rdfapp.peek(), rdfs('seeAlso'))" angulardf-preload="{{ o.uri }}"></span>
    </div>

    <p ng-controller="start as start">
      Enter a person's URI to get started:
      <input ng-model="start.uri" />
      <input type="submit" ng-click="start.go()" value="go" />
    </p>
  </body>
</html>
